.footer-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.8rem 9%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.footer-about p {
    font-size: 0.8rem;
}

