.button {
    padding-bottom: 2rem;
}

.button-cv {
    display: inline-block;
    padding:1rem 2rem;
    background:var(--main-color);
    border-radius:4rem;
    box-shadow:0 0 1rem var(--main-color);
    font-size:0.8rem;
    color:var(--second-bg-color);
    letter-spacing:.1rem;
    font-weight:600;
    transition:.5s ease;
    cursor:pointer;
    color:#fff;
}


.button-cv:hover {
    background:var(--main-color);
    color:var(--second-bg-color);
    box-shadow:0 0 1rem var(--main-color);
    box-shadow: none;
}


/* Responsividade */

@media (max-width:1200px) {
    .button {
        display: flex !important;
        justify-content: left !important;
        align-items: left !important;
    }
    .button-cv {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 768px) {
    .button-cv {
        font-size: 1rem;
    }
}