
.main-cards .cards-contact {
    color: var(--text-color);
    flex: 0.5 0.5 22rem;
    padding: 1rem 0.5rem 0.5rem;
    background: var(--second-bg-color);
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    cursor: default;
    font-size: 8rem;
    padding-bottom: 6rem;
    padding-top: 6rem;
    margin-top: 1rem;
}

.main-cards .cards-contact:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.cards-contact:hover i {
    animation: flips 2s linear infinite;
    transform-style: preserve-3d;
}

#instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#linkedin {
    color: #0e76a8;
}

#whatsapp {
    background: #00cf4d;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Responsividade */

@media (max-width: 1376px) {
    .main-cards {
        margin-bottom: 22rem;
        flex-direction: column;
        display: block;
        text-align: center;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
    .cards a {
        font-size: 1rem;
    }
    .form input{
        font-size: 1rem !important;
        height: 3rem !important;
        width: 100% !important;
    }
    .textarea {
        font-size: 1rem !important;
        height: 10rem !important;
        width: 100% !important;
    }
}

@media (max-width:1200px) {
    .form input{
        font-size: 1.5rem !important;
    }
    .textarea {
        font-size: 1.5rem !important;
    }
    .cards a {
        font-size: 1.5rem !important;
    }
}

@media (max-width:768px) {
    .main-cards {
        padding-bottom: 0 !important;
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    .form input {
        font-size: 1.3rem;
        height: 4rem !important;
    }
    .textarea {
        font-size: 1.3rem;
        height: 10rem;
    }
}