@media (max-width: 1200px) {
    .section-right-about {
        padding-top: 7rem;
    }
    .section-right-about h3 {
        font-size: 2rem !important;
    }
    .section-right-about p {
        font-size: 1.5rem !important;
    }
    .developer-about {
        margin-right: 8rem !important;
        margin-bottom: 13rem !important;
    }
    .button-about {
        padding-top: 1rem;
        padding-bottom: 3rem !important;
    }
    .button-cv-about {
        font-size: 1.5rem !important;
    }
    .footer-about {
        padding: 1.3rem 3% !important;
        
    }
    .text-footer > p{
        font-size: 1.3rem !important;
    }
}

@media (max-width: 1000px) {
    .main-content-about { 
        flex-direction: column;
    }
    .section-right-about {
        padding-top: 0 !important;
        text-align: center !important;
        margin-left: 4rem !important;
        padding-bottom: 0 !important;
    }
    .section-right-about > h2 {
        font-size: 4rem !important;
    }
    .section-right-about > h3 {
        font-size: 2.8rem !important;
        white-space: nowrap !important;
        padding-bottom: 1.2rem !important;
    }
    .section-right-about > p {
        font-size: 1.8rem !important;
    }
    .button-about {
        display: flex !important;
        justify-content: center !important;
        align-items: center;
    }
    .developer-about {
        width:37vw !important;
        padding-top: 16rem !important;
        margin-right: 9rem !important;
        margin-bottom: 0 !important;
    }
}

@media (max-width: 768px) {
    .main-content-about {
        flex-direction: column;
    }
    .section-right-about {
        text-align: center;
        margin-left: 4rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    .section-right-about > h2 {
        font-size: 4rem;
    }
    .section-right-about > h3 {
        font-size: 2.8rem;
        white-space: nowrap;
    }
    .section-right-about > p {
        font-size: 1.5rem;
    }
    .developer-about {
        width:45vw !important;
        padding-top: 8rem !important;
        margin-right: 8rem !important;
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .section-right-about {
        margin-left: 4rem;
    }
    .section-right-about > p {
        font-size: 2rem;
    }
    .developer-about {
        width: 50vw !important;
        margin-bottom: 0;
    }
}

/* Animações */

@keyframes animate {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
    
}

@keyframes developer_floatimage {
    0% {
        transform:translateY(0)
    }
    50% {
        transform:translateY(-2rem)
    }
    to {
        transform:translateY(0)
    }
}