@media (max-width: 1376px) {
    .main-cards {
        margin-bottom: 22rem;
        flex-direction: column;
        display: block;
        text-align: center;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
    }
    .cards a {
        font-size: 14rem;
    }
    .form input{
        font-size: 1rem !important;
        height: 3rem !important;
        width: 100% !important;
    }
    .textarea {
        font-size: 1rem !important;
        height: 10rem !important;
        width: 100% !important;
    }
    .buttonsubmit {
        font-size: 1.5rem !important;
    }
    .footer {
        padding: 1rem 3%;
        
    }
    .text-footer > p {
        font-size: 0.8rem;
    }
}

@media (max-width:1200px) {
    .form input{
        font-size: 1.5rem !important;
    }
    .textarea {
        font-size: 1.5rem !important;

    }
    .footer {
        padding: 1rem 3%;
        
    }
    .text-footer > p {
        font-size: 1.3rem;
    }
}

@media (max-width:768px) {
    .main-cards {
        padding-bottom: 0 !important;
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    .form input {
        font-size: 1.3rem;
        height: 4rem !important;
    }
    .textarea {
        font-size: 1.3rem;
        height: 10rem;
    }
    .buttonsubmit {
        font-size: 2rem !important;
    }
}

@keyframes flips {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}
