@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    border:none;
    outline:none;
    scroll-behavior:smooth;
    font-family:Poppins,
    sans-serif
}

:root {
--bg-color:#1f242d;
--second-bg-color:#323946;
--text-color:#fff;
--main-color: #ec2300;
}

html {
    font-size: 62.5;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 4rem;
    margin-left: 4.5rem;
    margin-right: 4rem;
}

.main-content-about {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.main-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 8rem;
    margin-top: 16rem;
    flex-wrap: wrap;
}


    /* Animações */

/* Logo React */
@keyframes rotate{

    100%{
        transform:rotate(360deg);
    }
}

/* Efeito 360° de logos */
@keyframes flips {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* Flutação da imagem do Dev */
@keyframes developer_floatimage {
    0% {
        transform:translateY(0)
    }
    50% {
        transform:translateY(-2rem)
    }
    to {
        transform:translateY(0)
    }
}

/* Animação Typewrite */
@keyframes animate {
    40%, 60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
    
}







